@font-face {
    font-family:Poppins;
    src:url('Poppins-Regular.ttf');
}
:root{
    --color: #09099d;
    --smokewhite: rgba(247,248,253);
    --lightdark: #2d2a38;
    --fontcolor: #7b8397;
    --white: #fff;
    --black: #151221;
    --font: Poppins;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
}
* i{
    font-weight: normal;
}
a{
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: normal;
    margin: unset;
}
ul, li{
    list-style-type: none;
    list-style: none;
    margin: unset;
}
* .btn{
    background: var(--color) !important;
    color: var(--white);
    white-space: nowrap;
}
* .btn:hover{
    color: var(--white);
}
* .btn:focus{
    box-shadow: none;
}
body{
    height: 100vh;
    font-family: var(--font);
}
.logo{
    padding: 1pc 3pc 0 3pc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a:nth-child(1) img{
    width: 30%;
}
.logo a:nth-child(3){
    background-color: var(--color);
    color: var(--white);
    border-radius: 2rem;
    font-size: 1rem;
    padding: .8rem 1.4rem;
    display: block;
    text-transform: capitalize;
    transition: .4s ease-in-out;
}
.logo a:nth-child(3):hover{
    box-shadow: 0 10px 30px -12px var(--color);
    transform: scale(1.01);
}
.container{
    display: grid;
    align-items: center;
}
.container .row{
    margin: 0 auto;
}
.container .row .newsletter > h3{
    color: var(--color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2rem;
    letter-spacing: 1px;
}
.container .row .newsletter form{
    height: 50vh;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 30px -19px var(--fontcolor);
    border-radius: 10px;
}
.container .row .newsletter i{
    font-size: 3rem;
    color: var(--color);
    margin-bottom: -3rem;
}
.container .row > div:nth-child(2) form a{
    background: var(--color);
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    color: var(--white);
    transition: .4s ease-in-out;
    border: none;
}
.container .row > div:nth-child(2) form a:hover{
    box-shadow: 0 16px 60px -17px var(--color);
    transform: scale(1.05);
}
:is(.modal-body form > div input, .modal-body form > div textarea){
    border-radius: 5px;
}
:is(.modal-body form > div input, .modal-body form > div textarea):focus{
    box-shadow: none;
    border: 2.7px solid var(--color);
}
.modal-body .text-area textarea {
    height: 30vh !important;
}
.modal-content{
    height: auto;
    width: 100%;   
    justify-content: space-evenly;
    border-radius: 5px;
}
.modal-title {
    font-weight: 600;
}
.modal-body{
    padding: 1rem;
    text-align: justify;
}
.modal-footer{
    border: unset;
}
.modal-footer button{
    padding: 0.5rem 2rem;
    border: unset;
}


@media (min-width: 992px) and (max-width: 1199.98px){
    .container .row .newsletter > h3 {
        font-size: 1.5rem;
    }
    .container .row .newsletter i {
        font-size: 1.7rem;
        margin-bottom: -2rem;
    }
    .container .row > div:nth-child(1) img {
        width: 85%;
    }
    .modal.show .modal-dialog {
        height: 90vh;
    }
    .container .row > div:nth-child(2) form a {
        font-size: .8rem;
        border-radius: 25px;
    }
    .modal {
        top: -2%;
    }
    .modal-content {
        height: 100%;
        justify-content: space-between;
    }
    .modal-body * label {
        padding: 1rem 0 0 0;
    }
    .modal-body {
        padding: 0 1rem 0;
    }
    .modal-body form > div{
        margin: 0 !important;
    }
    .modal-body form > div input{
        border-radius: 20px;
    }
    .modal-title {
        font-size: 1rem;
    }
    .modal-header .btn-close {
        font-size: .9rem;
    }
    :is(.modal-body, .modal-body * label){
        font-size: 14px;
    }
    :is(.modal-body form > div input, .modal-body form > div textarea) {
        font-size: 14px;
    }
    .modal-footer button {
        font-size: 14px;
        border-radius: 6px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .logo a:nth-child(1) img{
        display: block !important;
        width: 25%;
    }
    .logo a:nth-child(3){
        font-size: 13px;
    }
    .logo a:nth-child(2) img{
        display: none !important;
    }
    .container .row .newsletter form {
        width: 85%;
    }
    .container .row .newsletter > h3 {
        font-size: 1.5rem;
    }
    .container .row .newsletter i {
        font-size: 1.7rem;
        margin-bottom: -1.2rem;
    }
    .container .row > div:nth-child(2) form a {
        font-size: .79rem;
    }
    .container .row > div:nth-child(2) form a:hover{
        transform: scale(1.025);
    }
    .modal-header{
        padding: 0.8rem 1rem;
    }
    .modal-title {
        font-size: 16px;
    }
    :is(.modal-body, .modal-body * label){
        font-size: 14px;
    }
    .modal-body {
        padding: 0.5rem .8rem 0;
    }
    .modal-body form > div{
        margin: 0 !important;
    }
    .modal-footer button {
        font-size: 14px;
        border-radius: 20px;
    }
    .modal-footer button:hover {
        box-shadow: 0 0 20px -10px var(--color);
    }
    .modal-body form > div input{
        border-radius: 1rem;
    }
    
    
}
@media (min-width: 321px) and (max-width: 767.98px){
    .logo {
        padding: 0.3pc 1pc 0 1pc;
    }
    .logo a:nth-child(2) img {
        width: 13%;
    }
    .logo a:nth-child(4){
        font-size: 13px;
        text-transform: capitalize;
    }
    .container .row .newsletter i {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .container .row > div:nth-child(2) form a {
        font-size: .8rem;
        padding: 0.6rem 1.4rem
    }
    .container .row > div:nth-child(1) img {
        width: 72%;
    }
    .container .row .newsletter form{
        width: 100%;
    }
    .container .row .newsletter form h3{
        font-size: 18px;
    }
    :is(.modal-title, .modal-header .btn-close){
        font-size: 15px;
    }
    .modal-header{
        padding: 0.7rem .9rem;
    }
    .modal-body{
        padding: 0.6rem 0.5rem 0;
    }
    .modal-body form > div{
        margin: 0 !important;
    }
    .modal-body form > div input{
        font-size: 14px;
    }
    :is(.modal-body, .modal-body * label){
        font-size: 13px;
    }
    .modal-footer button {
        padding: 0.5rem 1.7rem;
        font-size: 14px;
        border-radius: 1.2rem;
    }
    .modal-footer button:hover {
        box-shadow: 0 0 20px -10px var(--color);
    }
    
}

@media all and (max-width: 320px)  {
    body{
        display: unset;
    }
    .logo{
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
    .logo a:nth-child(2) img {
        width: 17%;
    }
    .logo a:nth-child(4){
        font-size: 12px;
        color: var(--white);
        border-radius: 0.3rem;
        text-transform: capitalize;
    }
    .container{
        padding: 0;
    }
    .container .row{
        height: 86vh;
    }
    .container .row > div:nth-child(1) img{
        width: 90%;
    }
    .modal {
        top: 0%;
    }
    .modal-content{
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: 0;
    }
    .modal-header{
       padding: .8rem 1rem;
    }
    .modal-header .modal-title{
       font-size: .8rem;
    }
    .modal-header .btn-close {
        font-size: 12px;
    }
    :is(.modal-body, .modal-body * label){
        font-size: 12px;
    }
    .modal-body {
        padding: .5rem 0.5rem 0 0.5rem;
    }
    .modal-footer button {
        border-radius: 2rem;
        font-size: 12px;
        padding: 0.5rem 1.5rem;
    }
    :is(.modal-body form > div input, .modal-body form > div textarea){
        font-size: 12px;
    }
    :is(.modal-body form > div input, .modal-body form > div textarea):focus{
        box-shadow: none;
        border: 1.8px solid var(--color);
    }
    .container .row .newsletter form{
        width: 100%;
        align-items: center;
        height: 54vh;
        justify-content: space-around;
    }
    .container .row .newsletter form h3{
        font-size: 18px;
    }
    .container .row .newsletter i{
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .container .row > div:nth-child(2) form a{
        font-size: 12px;
        padding: 0.8rem 1.4rem;
    }
    
}